# Astro build output
dist/
.output/

node_modules/

# environment variables
.env
.env.production

# C++
*.o
import/tofirebase
import/torecipejson
import/recipes.json

# For Macs
.DS_Store

# logs
npm-debug.log*
