/*

header
container (flexbox)
  nav1 (flexbox)
  main (flexbox)
  nav2 (flexbox)

*/

/* ====================
    LAYOUT
   ==================== */

body {
  background-color: white;
  max-width: 900px;
  margin: auto;
}
header {
  background-image: url(/img/header.jpg);
  background-size: 460px auto;
  background-position: top;
  height: 100px;
  padding-top: 10px;
}
#wrapper {
  background-color: #FFEACC;
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}
#main_container {
  background-color: #F9D3A0;
  padding:0px;
  margin-bottom:10px;
  order:2;
}
main {
  display:flex;
  flex-direction:column;
}
nav {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  background-color: #F9D3A0;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: #414042;
}
nav a:hover{
  border-color: #7ABC61;
}
.nav_style {
  background-color: white;
  height: 20px;
  border: 2px solid;
  border-radius: 7px;
  border-color:#388220;
  text-align:center;
  padding: 5px 0px 3px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}
#nav_1 {
  order:1;
  margin-bottom: 15px;
  padding:5px 10px 5px 10px;
}
#nav_2 {
  order: 3;
  padding:5px 10px 5px 10px;
}

/* ====================
    ITEMS
   ==================== */

h1 {
  color: white;
  background-color: #FF6F0D;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(0,0,0,0.4);
  width: 170px;
  padding-left: 5px;
  margin: 0px;
}
h2 {
  margin: 5px 0px 10px 0px;
  text-transform: capitalize;
  text-decoration: underline;
  text-align: center;
}
h3 {
  margin: 5px 0px 10px 0px;
}
main a {
  color: #414042;
  text-decoration:none;
  font-weight:bold;
}
main a:hover {
  color: #1F510C;
}
p {
  margin: 0px;
}
.recent_user {
  font-style: italic;
  border-bottom: 1px solid;
  border-color: #939598;
}
.search {
  width:auto;
  color: #939598;
  text-align: left;
  text-transform: none;
  background-image:url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: 7px;
  background-size: 18px;
  padding-left: 30px;
}
input {
  width: 95%;
}
label {
  cursor:pointer;
}

/* ====================
    PARTIALS
   ==================== */


#content {
  background-color: white;
  border: 2px solid;
  border-color: #939598;
  margin: 10px;
  padding: 10px;
}
#content_edit{
  margin:10px;
}
#menu {
  display:flex;
  flex-direction:column;
  flex-basis:auto;
  order:2;
  padding: 10px;
}
.menu button {
  flex:1 1 0;
  margin:5px;
}
.ingredient {
  display:flex;
  flex-direction:row;
}
.ingredient_short {
  flex:1 1 0;
  margin:2px;
}
.ingredient_long {
  flex:2 1 0;
  margin:2px;
}
.recipe ul {
  margin: 5px 0px 10px 0px;
  padding-left: 20px;
}
.minus {
  height: 15px;
  margin: 0px 0px 2px 5px;
  padding-left:10px;
  padding-right:10px;
}
.edit {
  height: 15px;
  margin: 10px 0px 2px 0px;
  padding-left:10px;
  padding-right:10px;
}

/* ==========================================================================
   Browsing Twisties
   ========================================================================== */

.browse ul {
  list-style-type: none;
  background-color: white;
  height: auto;
  border: 2px solid #388220;
  border-radius: 7px;
  padding: 1px;
  font-weight: bold;
  margin:5px 0px 5px 0px;
}
.browse li {
  margin: 1px;
  padding: 5px;
  cursor: pointer;
}
.browse ul ul {
  border:none;
  padding-left: 15px;
  margin: 0px;
}
.browse ul ul li {
  padding: 2px;
}
.browse ul ul ul {
  max-height:300px;
  overflow:auto;
}

.browse ul ul ul ul {
  padding-left:0px;
  max-height: none;
}
.browse ul ul ul ul li {
  font-weight: normal;
  word-wrap:break-word;
  margin-left:9px;
  background-image: url(/img/bullet.png);
  background-repeat: no-repeat;
  background-position: 0px 7.5px;
  background-size:5px 5px;
  padding-left: 15px;
}
.browse ul ul ul ul li a:hover {
  color:#388220;
}

.browse li.collapsed > ul {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
}
.browse li.collapsed label:before{
  margin-left: 5px;
  padding-right: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  content:' ';
  background-image: url(/img/triangle_side.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
}
.browse label:before {
  margin-left: 5px;
  padding-right: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  content:' ';
  background-image: url(/img/triangle_down.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
}


/* ====================
    INTERMEDIATE
   ==================== */

@media only screen and (min-width: 455px) and (max-width: 679px) {

  header {
    background-size: 100% auto;
    height: 140px;
  }
  nav {
    flex-direction: row;
  }
  nav a {
    flex: 1 1 0;
    margin: 0px 7.5px 0px 7.5px;
  }
  #menu {
    flex-direction: row;
    order:1;
  }
  #nav_1 {
    flex-direction:column;
  }
}

/* ====================
    WIDE
   ==================== */

@media only screen and (min-width: 680px) {

  body {
    height:100vh;
  }
  header {
    background-size: 100% auto;
    height:140px;
  }
  #wrapper {
    display: block;
    overflow:auto;
    box-sizing:border-box;
    padding:0px 10px 0px 10px;
  }
  #main_container {
    width:65%;
    margin-top: 10px;
  }
  main {
    align-items:stretch;
    margin-right:5px;
  }
  nav {
    margin-top: 10px;
    width: 30%;
    float:right;
  }
  #nav_1 {
  }
  #nav_2 {
    clear:right;
    margin-top:0px;
    margin-bottom:10px;
  }
  #menu {
    float:none;
    flex-direction:row;
    order:1;
    width:auto;
    padding: 10px 0px 10px 0px;
  }
  #menu a {
    flex:1 1 auto;
    margin: 0px 7.5px 0px 7.5px;
  }
}

/* ====================
    WIDEST
   ==================== */
@media only screen and (min-width: 900px) {

  body {
    /*background-image: url(/img/gradient.png);*/
    background: linear-gradient(white, #388220);
    background-attachment: fixed;
  }
  #wrapper {
    border: 10px solid #FF6F0D;
    border-top:none;
    border-bottom: none;
  }
}


