/*

header
container (flexbox)
	nav1 (flexbox)
	main (flexbox)
	nav2 (flexbox)

*/

body {
	background-color: #FFEACC;
	display: flex;
	flex-direction: column;
}

header {
	background-image: url(/img/header_skinny.jpg);
	background-size: auto 100px;
	background-position: center;
	height: 100px;
}

h1 {
	color: white;
	background-color: #FF6F0D;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: rgba(0,0,0,0.4);
	width: 170px;
	padding-left: 5px;
	margin: 5px 0px 0px 0px;
}

nav {
	display: flex;
	flex-direction: column;
	align-items:stretch;
	background-color: #F9D3A0;
	padding: 10px;
	margin-top:15px;
	margin-bottom:15px;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover{
	border-color: #7ABC61;
}

main {
	background-color: white;
	border: 2px solid;
	border-color: #939598;
	padding: 10px;
}

p {
	margin: .25em;
}

.button {
	background-color: white;
	height: 20px;
	border: 2px solid;
	border-radius: 5px;
	border-color:#388220;
	text-align:center;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-style: bold;
}

.recent_user {
	font-style: italic;
	border-bottom: 1px solid;
	border-color: #939598;
}

