<div id="welcome">
  <h3> Welcome to Cookbook!</h3>
  <p class="status good" ng-show-auth>You are logged in with id {{user.uid}}.</p>
  <p class="status" ng-hide-auth> You are not <a href="#/login">logged in</a></p>
</div>

<div id="content">
  <h2>Recent Recipes</h2>
    <a href="/recipe">Carrot Lentil Soup</a>
    <p class="recent_user">made by clvlach</p>
    <a href="/recipe">Hamburgers</a>
    <p class="recent_user">made by sleepyguy</p>
    <a href="/recipe">Gateau aux Carottes</a>
    <p class="recent_user">made by irene</p>
    <a href="/recipe">Pizza</a>
    <p class="recent_user">made by czechmec</p>
    <a href="/recipe">Gateau au Vin</a>
    <p class="recent_user">made by irene</p>
</div>
