<nav id="menu">
    <a href="home.html" class="button"> Make </a>
    <a href="home.html" class="button"> Edit </a>
    <a href="home.html" class="button"> Print </a>
    <a href="home.html" class="button"> Delete </a>
</nav>

<div id="content">

	<h2>Carrot-Lentil Soup</h2>
	    
	<h3>Ingredients</h3>

	<p>6 large carrots, sliced</p>
	<p>1/2 cup split red lentils</p>
	<p>1 large onion, diced</p>
	<p>5 cups water</p>
	<p>1 tsp ground coriander</p>
	<p>1 scant tsp ground cardamom</p>
	<p>1 scant tsp ground ginger</p>
	<p>1 tsp cumin</p>
	<p>4 shakes cayenne</p>
	<p>1 tsp Dijon mustard</p>
	<p>1 bay leaf</p>
	<p>1 tbsp olive oil</p>
	<p>1 tsp salt</p>
	<p>pepper to taste</p>

	<h3>Directions</h3>

	<p>In a large pot, saute the onion in the olive oil until translucent and soft, about 5 minutes. Add the carrots and all spices except the salt, pepper and mustard; cook until fragrant, 1-2 minutes. Add the lentils and water. Bring to a boil, then simmer for about 45 minutes, until the lentils have begun to disintegrate and the carrots are soft. Puree in your new Cuisinart (or a blender). Return to the pot and stir in salt, pepper, and mustard. Reheat and serve. Garnish with yogurt or herbs.</p>

	<h4>Categories</h4>

	<p>Soupe</p>
	<p>Claire</p>

</div>