
<h2>Carrot-Lentil Soup</h2>
    
<h3>Ingredients</h3>

6 large carrots, sliced
1/2 cup split red lentils
1 large onion, diced
5 cups water
1 tsp ground coriander
1 scant tsp ground cardamom
1 scant tsp ground ginger
1 tsp cumin
4 shakes cayenne
1 tsp Dijon mustard
1 bay leaf
1 tbsp olive oil
1 tsp salt
pepper to taste

<h3>Directions</h3>

<p>In a large pot, saute the onion in the olive oil until translucent and soft, about 5 minutes. Add the carrots and all spices except the salt, pepper and mustard; cook until fragrant, 1-2 minutes. Add the lentils and water. Bring to a boil, then simmer for about 45 minutes, until the lentils have begun to disintegrate and the carrots are soft. Puree in your new Cuisinart (or a blender). Return to the pot and stir in salt, pepper, and mustard. Reheat and serve. Garnish with yogurt or herbs.</p>

<h4>Categories</h4>

<p>Soupe</p>
<p>Claire</p>
