---
import Layout from '../layouts/Layout.astro';

const cookieStr = Astro.request.headers.get('cookie')
const cookies = new Map<string,string>();
if (cookieStr) {
  for (const [key, val] of cookieStr.split(";").map(cookie=>cookie.trim().split('=',1))) {
    if (key && val) cookies.set(key, val);
  }
}

const user = cookies.get('user');
---

<Layout title="Cookbook">
	<main>
    <div id="welcome">
      <h4> Welcome to Cookbook!</h4>
      <p class="status good" ng-show-auth>You are logged in with id {{user}}.</p>
      <p class="status" ng-hide-auth> You are not <a href="#/login">logged in</a></p>
    </div>

    <div id="content">
      <h2>Random Recipe</h2>
        <a href="/recipe">Carrot Lentil Soup</a>
    </div>
	</main>
</Layout>
