/*

header
container (flexbox)
  nav1 (flexbox)
  main (flexbox)
  nav2 (flexbox)

*/

:root {
  --yellow: oklch(76% 0.136 79);
  --yellow-bg: oklch(95% 0.02 79);
  --navy: oklch(29% 0.033 259);
  --light-navy: oklch(36% 0.054 259);
}

/* ====================
    LAYOUT
   ==================== */

body {
  background-color: white;
  max-width: 900px;
  margin: auto;
}

header {
  background-image: url(/img/header3.jpg);
  background-size: 460px auto;
  background-position: top;
  height: 100px;
  padding-top: 10px;
}

#wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main_container {
  order: 2;
  margin: 10px;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  padding: 10px;
}

.nav_style {
  background-color: var(--light-navy);
  color: white;
  height: 20px;
  border: 2px solid;
  border-radius: 7px;
  border-color: var(--yellow);
  text-align: center;
  text-decoration: none;
  padding: 5px 0px 3px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}

.nav_style:hover {
  box-shadow: 1px 1px 2px var(--yellow);
}

nav.header {
  background-color: var(--navy);
}

#nav_1 {
  order: 1;
  padding: 5px 10px 5px 10px;
}

/* ====================
    ITEMS
   ==================== */
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  color: white;
  background-color: var(--navy);
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(0, 0, 0, 0.4);
  width: 170px;
  padding-left: 5px;
  margin: 0px;
}

h2 {
  margin: 5px 0px 10px 0px;
  text-transform: capitalize;
  text-decoration: underline;
  text-align: center;
}

h3 {
  margin: 0px 0px 10px 0px;
}

p {
  margin: 1ex 0px;
}

.search {
  width: auto;
  text-align: left;
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: 7px;
  background-size: 18px;
  color: black;
  height: 20px;
  border: 2px solid;
  border-radius: 7px;
  border-color: var(--yellow);
  padding: 5px 0px 3px 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  vertical-align: middle;

}

button {
  background-color: var(--yellow-bg);
  border-color: var(--yellow);
  border-radius: 7px;
  margin-top: 2px;
}

button:hover {
  box-shadow: 1px 1px 2px var(--yellow);
}

/* ====================
    PARTIALS
   ==================== */

.action {
  background-color: var(--yellow-bg);
  color: black;
  height: 20px;
  border: 2px solid;
  border-radius: 7px;
  border-color: var(--yellow);
  text-align: center;
  text-decoration: none;
  padding: 5px 0px 3px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}

a.action:hover {
  box-shadow: 1px 1px 2px var(--yellow);
}

/* LOGIN */

.login {
  padding-top: 10px
}

/* READING A RECIPE and LOGIN */

#options {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  order: 2;
  padding: 0px;
  margin-top: 10px;
}

.frac {
  font-variant-numeric: diagonal-fractions;
}

/* EDITING A RECIPE */

#content_edit {
  display: flex;
  flex-direction: column;
}

.recipe ul {
  margin: 5px 0px 10px 0px;
  padding-left: 20px;
}

.title {
  margin-bottom: 10px;
}

.ingredient {
  display: flex;
  flex-direction: row;
}

.ingredient input :active {
  border: #ebf2e8;
}

.ingredient_short {
  flex: 1 1 0;
  margin: 2px;
}

.ingredient_long {
  flex: 2 1 0;
  margin: 2px;
}

#content_edit button {
  width: 25px;
}

#minus {
  margin: 2px 0px 2px 5px;
}

#plus {
  align-self: flex-end;
}

#content_edit #save {
  margin-top: 10px;
}

.dragging {
  opacity: 40%;
}

.hidden {
  visibility: hidden;
}


/* ==========================================================================
   List of details
   ========================================================================== */

ul.details {
  list-style-type: none;
  padding-inline-start: 0;
}

details>summary::marker {
  color: var(--yellow);
}


/* ====================
    INTERMEDIATE
   ==================== */

@media only screen and (min-width: 455px) {

  header {
    background-size: 100% auto;
    height: 140px;
  }

  nav {
    flex-direction: row;
  }

  nav a {
    flex: 1 1 0;
    margin: 0px 5px 0px 5px;
  }

  #options {
    flex-direction: row;
    order: 1;
    margin: 10px -5px 0px -5px;
  }

  #nav_1 {
    flex-direction: column;
  }

  #nav_2 {
    margin-left: -5px;
    margin-right: -5px;
  }
}

/* ====================
    WIDEST
   ==================== */
@media only screen and (min-width: 900px) {

  body {
    background-image: url(/img/corian.jpg);
    background-size: 500px;
    /*background: linear-gradient(white, #388220);*/
    background-attachment: fixed;
  }

  #wrapper {
    border: 10px solid #e1a83f;
    border-top: none;
    border-bottom: none;
  }
}

/* ====================
    PRINT
   ==================== */
@media print {

  .noprint {
    display: none;
  }

  #options.noprint {
    display: none;
  }

  #main_container {
    border: none;
  }
}
