/*

header
container (flexbox)
  nav1 (flexbox)
  main (flexbox)
  nav2 (flexbox)

*/

/* ====================
    LAYOUT
   ==================== */

body {
  background-color: white;
  max-width: 900px;
  margin: auto;
}
header {
  background-image: url(/img/header.jpg);
  background-size: 460px auto;
  background-position: top;
  height: 100px;
  padding-top: 10px;
}
#wrapper {
  background-color: white;
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}
#main_container {
  order:2;
  border: 2px solid;
  border-radius: 7px;
  border-color:#FF6F0D;
  margin: 10px;
  padding: 10px;
}
main {
  display:flex;
  flex-direction:column;
}
nav {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  background-color: white;
  padding: 10px;
}
.nav_style {
  background-color: #ebf2e8;
  color: black;
  height: 20px;
  border: 2px solid;
  border-radius: 7px;
  border-color:#32751c;
  text-align:center;
  text-decoration: none;
  padding: 5px 0px 3px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}
.nav_style:hover {
  border-color: #7ABC61;
}
#nav_1 {
  order:1;
  padding:5px 10px 5px 10px;
}
#nav_2 {
  order: 3;
  padding:5px 10px 5px 10px;
}

/* ====================
    ITEMS
   ==================== */
a {
  color: black;
  font-weight:bold;
  text-decoration: none;
}
h1 {
  color: white;
  background-color: #FF6F0D;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(0,0,0,0.4);
  width: 170px;
  padding-left: 5px;
  margin: 0px;
}
h2 {
  margin: 5px 0px 10px 0px;
  text-transform: capitalize;
  text-decoration: underline;
  text-align: center;
}
h3 {
  margin: 0px 0px 10px 0px;
}
h4 {
  font-size:175%;
  color: #388220;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
}
p {
  margin: 0px;
}
.recent_user {
  font-style: italic;
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom: 1px solid;
  border-color: #939598;
}
.search {
  width:auto;
  color: #939598;
  text-align: left;
  text-transform: none;
  background-image:url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: 7px;
  background-size: 18px;
  padding-left: 30px;
}
button {
  background-color: #fff0e6;
  border-color: #FF6F0D;
  border-radius: 7px;
  margin-top: 2px;
}
button:hover{
  border-color: #ffa86d;
}
/* ====================
    PARTIALS
   ==================== */

.action {
  background-color: #ffd3b6;
  color: black;
  height: 20px;
  border: 2px solid;
  border-radius: 7px;
  border-color: #FF6F0D;
  text-align:center;
  text-decoration: none;
  padding: 5px 0px 3px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}
a.action:hover {
  border-color: #ffa86d;
}

/* HOME */

#welcome {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
#welcome a {
  color: #939598;
  text-decoration: underline;
}
#welcome a:hover {
  color: #388220;
}

/* LOGIN */

.login {
  padding-top: 10px
}
.login a {
  color: #939598;
  text-decoration: underline;
  font-size: small;
  padding-left: 10px;
}


/* READING A RECIPE and LOGIN */

#options {
  display:flex;
  flex-direction:column;
  flex-basis:auto;
  order:2;
  padding: 0px;
  margin-top: 10px;
}

/* EDITING A RECIPE */

#content_edit {
  display:flex;
  flex-direction:column;
}
.recipe ul {
  margin: 5px 0px 10px 0px;
  padding-left: 20px;
}
.title {
  margin-bottom: 10px;
}
.ingredient {
  display:flex;
  flex-direction:row;
}
.ingredient input :active {
  border: #ebf2e8;
}
.ingredient_short {
  flex:1 1 0;
  margin:2px;
}
.ingredient_long {
  flex:2 1 0;
  margin:2px;
}
#content_edit button{
  width: 25px;
}
#minus {
  margin: 2px 0px 2px 5px;
}
#plus {
  align-self:flex-end;
}
#content_edit #save {
  margin-top: 10px;
}
.dragging {
  opacity: 40%;
}

.hidden {
  visibility: hidden;
}


/* ==========================================================================
   Browsing Twisties
   ========================================================================== */

.browse ul {
  list-style-type: none;
  background-color: #ebf2e8;
  height: auto;
  border: 2px solid #388220;
  border-radius: 7px;
  padding: 1px;
  font-weight: bold;
  margin:5px 0px 5px 0px;
}
.browse :hover {
  border-color: #7ABC61;
}
.browse li {
  margin: 1px;
  padding: 5px;
  cursor: pointer;
}
.browse ul ul {
  border:none;
  padding-left: 15px;
  margin: 0px;
  max-height:400px;
  overflow:auto;
}
.browse ul ul li {
  padding: 2px;
}

.browse li.collapsed > ul {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
}
.browse li.collapsed label:before{
  margin-left: 5px;
  padding-right: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  content:' ';
  background-image: url(/img/triangle_side.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
}
.browse label:before {
  margin-left: 5px;
  padding-right: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  content:' ';
  background-image: url(/img/triangle_down.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
}
.browse .browse_RecipeTitle {
  word-wrap:break-word;
  margin-left:9px;
  background-image: url(/img/bullet.png);
  background-repeat: no-repeat;
  background-position: 0px 7.5px;
  background-size:5px 5px;
  padding-left: 15px;
}
.browse_RecipeTitle a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}
.browse_RecipeTitle a:hover {
  color:#388220;
}


/* ====================
    INTERMEDIATE
   ==================== */

@media only screen and (min-width: 455px) and (max-width: 679px) {

  header {
    background-size: 100% auto;
    height: 140px;
  }
  nav {
    flex-direction: row;
  }
  nav a {
    flex: 1 1 0;
    margin: 0px 5px 0px 5px;
  }
  #options {
    flex-direction: row;
    order:1;
    margin: 10px -5px 0px -5px;
  }
  #nav_1 {
    flex-direction:column;
  }
  #nav_2 {
    margin-left:-5px;
    margin-right: -5px;
  }
}

/* ====================
    WIDE
   ==================== */

@media only screen and (min-width: 680px) {

  body {
    height:100vh;
  }
  header {
    background-size: 100% auto;
    height:140px;
  }
  #wrapper {
    display: block;
    overflow:auto;
    box-sizing:border-box;
  }
  #main_container {
    margin-top: 20px;
  }
  main {
    align-items:stretch;
  }
  nav {
    margin-top: 10px;
    width: 30%;
    float:right;
  }
  #nav_1 {
  }
  #nav_2 {
    clear:right;
    margin-top:0px;
    margin-bottom:10px;
  }
  #options {
    float:none;
    flex-direction:row;
    order:1;
    width:auto;
    margin: 10px -5px 0px -5px;
  }
  #options a {
    flex:1 1 auto;
    margin: 0px 5px 0px 5px;
  }
}

/* ====================
    WIDEST
   ==================== */
@media only screen and (min-width: 900px) {

  body {
    background-image: url(/img/background1.jpg);
    background-size: 500px;
    /*background: linear-gradient(white, #388220);*/
    background-attachment: fixed;
  }
  #wrapper {
    border: 10px solid #388220;
    border-top:none;
    border-bottom: none;
  }
}

/* ====================
    PRINT
   ==================== */
@media print {

  .noprint {
    display:none;
    }
  #options.noprint {
    display:none;
    }
  #main_container {
    border: none;
  }
}
