<main ng-if="editing">
  <div id="content_edit">
    <h3>Title</h3>
    <input type="text" class="title" ng-model="recipeMeta.title" placeholder="Title" ng-change="setTitle()">

    <h3>Ingredients</h3>
    <div class="ingredient" ng-repeat="ingredient in recipe_ingredients">
      <div class="ingredient_short">
        <input type="text"
               placeholder="Qty"
               ng-model="ingredient.quantity"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <div class="ingredient_short">
        <input type="text"
               placeholder="Unit"
               ng-model="ingredient.unit"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <div class="ingredient_long">
        <input type="text"
               placeholder="Ingredient"
               ng-model="ingredient.name"
               ng-change="ingredientNameChanged(ingredient)"
               >
      </div>
      <div class="ingredient_long">
        <input type="text"
               placeholder="Preparation"
               ng-model="ingredient.preparation"
               ng-change="recipe_ingredients.$save(ingredient)"
               >
      </div>
      <a href="javascript:;"
         ng-click="removeIngredient(ingredient)"
         class="nav_style minus"
         >-</a>
    </div>
    <a href="javascript:;"
          ng-click="addIngredient()"
          class="nav_style edit"
          >+</a>
    <h3>Directions</h3>
    <textarea ng-model="recipeDetails.directions" ng-change="setDirections()" ></textarea>
    <a href="javascript:;" ng-click="save()" class="nav_style edit">Save</a>
  </div>
</main>

<main ng-if="!editing" class="recipe">
  <nav id="menu">
    <a href="" class="nav_style"> Make </a>
    <a href="javascript:;" ng-click="edit()" class="nav_style">Edit</a>
    <a href="" class="nav_style"> Print </a>
    <a href="" class="nav_style"> Delete </a>
  </nav>

  <div id="content">
    <h2>{{recipeMeta.title}}</h2>
    <ul>
      <li ng-repeat="ingredient in recipe_ingredients">
        {{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}<span ng-if="ingredient.preparation">, {{ingredient.preparation}}</span>
      </li>
    </ul>

    <div ng-bind-html="recipeDetails.directions | newlinesToBrs"></div>
  </div>
</main>
