<main ng-if="editing">
  <p><input type="text" ng-model="recipe.title" placeholder="Title" ng-change="setTitle()"></p>

  <h2>Ingredients</h2>
  <div class="ingredient" ng-repeat="(key, ingredient) in recipe.ingredients">
    <input type="text" ng-model="ingredient.count">
    <input type="text" ng-model="ingredient.unit">
    <input type="text" ng-model="ingredient.name">
    <input type="text" ng-model="ingredient.preparation">
    <button ng-click="removeIngredient(key)">-</button>
  </div>
  <button ng-click="addIngredient()">+</button>

  <h2>Directions</h2>
  <textarea ng-model="recipe.directions"></textarea>

  <p><button ng-click="save()">Save</button></p>
</main>

<main ng-if="!editing">
<h2>{{recipe.title}}</h2>
{{recipeId}}
<ul>
  <li ng-repeat="ingredient in recipe.ingredients">
    {{ingredient.count}} {{ingredient.unit}} {{ingredient.name}}<span ng-if="ingredient.preparation">, {{ingredient.preparation}}</span>
  </li>
</ul>

{{recipe.directions}}

<p><button ng-click="edit()">Edit</button></p>
</main>
