---
import { RecipeList } from "@components/RecipeList";
import Layout from "@layouts/Layout.astro";
import { getLogin } from "@lib/login-cookie";
import { prisma } from "@lib/prisma";

const user = await getLogin(Astro.cookies);

const recipes = await prisma.recipe.findMany({
  include: {author: true},
  orderBy: {
    name: "asc",
  },
});
---

<Layout title="Cookbook" user={user}>
  <div id="welcome">
    <h4>Welcome to Cookbook!</h4>
  </div>

  <div id="content">
    <h2>Recipes</h2>
    <RecipeList recipes={recipes} />
  </div>
</Layout>
